<header>
  <h1><a href="/">starter</a>
    <small>
      <% if(development) { %>
        (d)
        <% } else { %>
          (p)
          <% } %>
    </small>
  </h1>
  <nav>
    <button id="nav__btn" type="button">menu</button>
    <ul id="nav__list">
      <li><a href="/authors">authors</a></li>
      <li><a href="/books">books</a></li>
      <li><a href="/photos">photos</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </nav>
</header>

<main class="main">