<%- include ('../../partials/head') %>
  <%- include ('../../partials/header') %>

    <aside class="aside aside--left">
      <h3 class="aside__title">left bar</h3>
    </aside>
    <article class="article">
      <h2 class="article__title">Book Dashboard</h2>
    </article>
    <aside class="aside aside--right">
      <h3 class="aside__title">right bar</h3>
    </aside>

    <%- include('../../partials/footer') %>