
$offwhite: mix(black, white, 5%);
$lightgray: mix(black, white, 10%);
$gray: mix(black, white, 50%);
$darkgray: mix(black, white, 80%);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: $lightgray;
  padding: {
    top: 25px;
    bottom: 25px;
    left: 50px;
    right: 50px;
  }
}

.header, .footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: $darkgray;
  color: $offwhite;
  padding: {
    top: 12px;
    bottom: 12px;
    left: 25px;
    right: 25px;
  }
}

.footer__credit {
  text-align: center;
}

