body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  a {
    text-decoration: none;
  }
}

nav {}

nav button {
  display: block;
  @include device(lg) {
    display: none;
  }
}

nav ul {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 1;
  list-style: none;
  width: 100%;
  @include device(lg) {
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
  }
}

nav ul.show {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include container;
  @include device(lg) {
    flex-direction: row;
  }
}

article {
  flex-basis: 100%;
  @include device(lg) {
    flex: 6;
  }
}

aside {
  flex-basis: 100%;
  @include device(lg) {
    flex: 4
  }
}

footer {
  text-align: center;
}

