body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {}

h1 {
  a {
    text-decoration: none;
  }
}

nav {}

nav button {}

nav ul {}

nav ul.show {}

main {
  flex: 1;
}

article {}

aside {}

footer {}

