body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
}

h1 {
  a {
    text-decoration: none;
  }
}

nav {}

nav button {
  display: block;
  @include device(lg) {
    display: none;
  }
}

nav ul {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 1;
  width: 100%;
  @include device(lg) {
    display: block;
  }
}

nav ul.show {
  display: block;
}

main {
  flex: 1;
}

article {}

aside {}

footer {}

