<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

    <article>
      <h2>dashboard</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, asperiores quis odit voluptate enim aliquid
        voluptatem quo distinctio cupiditate atque!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint explicabo necessitatibus omnis? Obcaecati quod
        excepturi suscipit mollitia nostrum vel beatae quia, eum temporibus quisquam asperiores. Ad cum consectetur qui
        obcaecati debitis. Quasi, voluptas culpa maiores assumenda sed aperiam unde. Quisquam quae possimus repellendus.
        Atque enim itaque dolores, totam consequatur eaque ratione magnam fugiat quo ad animi maiores aspernatur iste
        eum doloribus aut sint laudantium perspiciatis soluta dignissimos saepe inventore? Assumenda debitis nemo et,
        iusto provident eveniet ratione, mollitia, sequi ab consectetur quia error. Assumenda distinctio nihil enim sit.
        Amet hic, nobis enim fuga deserunt dolore similique iure assumenda animi mollitia nihil laudantium, sint
        pariatur harum maiores quisquam ipsam. At dignissimos eius laboriosam odit dicta? Minus debitis ab distinctio,
        atque laudantium repudiandae autem aliquid eveniet, voluptas nulla quos omnis velit vitae obcaecati id veniam
        rem est dicta tenetur! Repellat molestiae non maiores aperiam, quis, velit sint cum possimus dicta repudiandae
        culpa.</p>
    </article>
    <aside>
      <h3>right bar</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum doloremque qui repellendus hic soluta, eius
        debitis, itaque fugit libero reiciendis perferendis dolores minus, officiis sunt voluptates! Necessitatibus amet
        quia, cumque labore dolore quasi suscipit, iste, cupiditate molestias quis aliquid placeat officiis impedit.
        Officia, ad quidem? Consequatur ipsum omnis saepe suscipit!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptates illo harum dolorum hic aspernatur.
        Illum repudiandae praesentium vitae ullam rerum iste explicabo quis, sapiente esse, iure voluptas. Beatae
        molestias rem et tempore. Eum incidunt tempore voluptas non porro. Accusantium nam doloribus reiciendis eligendi
        deleniti sit, iure, doloremque est eius, minus nulla aliquam maxime repellendus voluptate quasi et ipsam harum
        fugiat? Reprehenderit, enim dolores quia voluptatibus eos eveniet! Iure numquam ad quidem iusto? Voluptate,
        molestiae!</p>
    </aside>

    <%- include('../partials/footer') %>