<%- include ('../../partials/head') %>
  <%- include ('../../partials/header') %>

    <h2>Add Author</h2>
    <form>
      <div class="row">
        <div class="four columns">
          <label for="fname">first name</label>
          <input class="u-full-width" type="text" placeholder="type first name here" id="fname" name="fname">
        </div>
        <div class="four columns">
          <label for="lname">last name</label>
          <input class="u-full-width" type="text" placeholder="type last name here" id="lname" name="lname">
        </div>
        <div class="four columns">
          <label for="dob">date of birth</label>
          <input class="u-full-width" type="date" id="dob" name="dob">
        </div>

      </div>
      <input class="button-primary" type="submit" value="add author">
    </form>

    <%- include('../../partials/footer') %>