<%- include ('../../partials/head') %>
  <%- include ('../../partials/header') %>

    <article>
      <h2>update author</h2>
    </article>
    <aside>
      <h3>right bar</h3>
    </aside>

    <%- include('../../partials/footer') %>